.usagetimer {
    position: relative;
}
.usagetimer.locked {
    pointer-events: none;
}
.usagetimer--lock-overlay {
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.9;
    pointer-events: none;
}
.usagetimer--lock-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
}

.usagetimer--progressbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3em;
    background-color: grey;
    opacity: 0.9;
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.25);
}

.usagetimer--progressbar-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    color: white;
    background-color: red;
    transition: width 2s;
}