.videolist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin: 3em;
}

@media only screen and (max-width: 600px) {
    .videolist {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 900px) {
    .videolist {
        grid-template-columns: repeat(3, 1fr);
    }
}
