.header {
    padding: 1.5em 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.header--logo {
    height: auto;
    width: 42px;
}

.header input {
    padding: 0.5em 2em;
    margin-right: 1em;
    border: none;
    border-radius: 1em;
    color: black;
    background-color: rgba(255,255,255,0.4);
}
@media only screen and (max-width: 600px) {
    .header input {
        width: 50px;
    }
}
.header input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
.header input:focus {
    outline-width: 0;
}

.header form {
    display: flex;
}
