.videoplayer--player {
    position: relative;
}

.videoplayer--player-overlay {
    position: absolute;
    width: 100%;
    height: 500px;
}

.videoplayer--description {
    padding: 1.5em 3em;
    background-color: white;
}
.videoplayer--description-channel {
    opacity: 0.5;
}
.videoplayer--description-title {
    font-weight: bold;
    font-size: 1.5em;
}
.videoplayer--description-description {
    padding-top: 1.5em;
}

.videoplayer--description-actions {
    padding-top: 2em;
    display: flex;
    gap: 1em;
}
.videoplayer--description-actions-action {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.videoplayer--description-actions-action.active {
    font-weight: bold;
    color: red;
    cursor: not-allowed;
}